USE [master]
GO
/****** Object:  Database [HomeDB]    Script Date: 14/05/2020 17:34:32 ******/
CREATE DATABASE [HomeDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HomeDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\HomeDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HomeDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\HomeDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HomeDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HomeDB]
GO
/****** Object:  User [userNorthJournal]    Script Date: 14/05/2020 17:34:32 ******/
CREATE USER [userNorthJournal] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [umsitari]    Script Date: 14/05/2020 17:34:32 ******/
CREATE USER [umsitari] FOR LOGIN [umsitari] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [umsitari]
GO
/****** Object:  Table [dbo].[ALBUM]    Script Date: 14/05/2020 17:34:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ALBUM](
	[UniqueID] [uniqueidentifier] NOT NULL,
	[MusicTypeID] [uniqueidentifier] NOT NULL,
	[ArtistID] [uniqueidentifier] NOT NULL,
	[AlbumPriceID] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Review] [nvarchar](max) NULL,
	[Released] [datetime] NULL,
	[CopyRightInfo] [nvarchar](500) NULL,
	[CoverPath] [nvarchar](1000) NULL,
 CONSTRAINT [PK_ALBUM] PRIMARY KEY CLUSTERED 
(
	[UniqueID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ALBUM_PRICE]    Script Date: 14/05/2020 17:34:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ALBUM_PRICE](
	[UniqueID] [uniqueidentifier] NOT NULL,
	[Price] [decimal](9, 2) NOT NULL,
 CONSTRAINT [PK_ALBUM_PRICE] PRIMARY KEY CLUSTERED 
(
	[UniqueID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ALBUM_RATING]    Script Date: 14/05/2020 17:34:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ALBUM_RATING](
	[UniqueID] [uniqueidentifier] NOT NULL,
	[AlbumID] [uniqueidentifier] NOT NULL,
	[RatingTypeID] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_ALBUM_RATING] PRIMARY KEY CLUSTERED 
(
	[UniqueID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ARTIST]    Script Date: 14/05/2020 17:34:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ARTIST](
	[UniqueID] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_ARTIST] PRIMARY KEY CLUSTERED 
(
	[UniqueID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMPANY]    Script Date: 14/05/2020 17:34:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMPANY](
	[UniqueId] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Address1] [nvarchar](100) NOT NULL,
	[Address2] [nvarchar](100) NOT NULL,
	[PostalCode] [nvarchar](50) NOT NULL,
	[City] [nvarchar](50) NOT NULL,
	[CountryCode] [nvarchar](50) NOT NULL,
	[OrganizationNumber] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_COMPANY] PRIMARY KEY CLUSTERED 
(
	[UniqueId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONTACTS]    Script Date: 14/05/2020 17:34:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONTACTS](
	[ContactId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Phone] [nvarchar](50) NULL,
 CONSTRAINT [PK_CONTACTS] PRIMARY KEY CLUSTERED 
(
	[ContactId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DEPARTMENT]    Script Date: 14/05/2020 17:34:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPARTMENT](
	[UniqueId] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Address1] [nvarchar](100) NOT NULL,
	[Address2] [nvarchar](100) NOT NULL,
	[PostalCode] [nvarchar](50) NOT NULL,
	[City] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Active] [bit] NOT NULL,
	[CompanyUniqueId] [uniqueidentifier] NOT NULL,
	[Deleted] [bit] NOT NULL,
 CONSTRAINT [PK_DEPARTMENT] PRIMARY KEY CLUSTERED 
(
	[UniqueId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DEPARTMENT_EMPLOYEE]    Script Date: 14/05/2020 17:34:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPARTMENT_EMPLOYEE](
	[UniqueId] [uniqueidentifier] NOT NULL,
	[DepartmentUniqueId] [uniqueidentifier] NOT NULL,
	[EmployeeUniqueId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_DEPARTMENT_EMPLOYEE] PRIMARY KEY CLUSTERED 
(
	[UniqueId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPLOYEE]    Script Date: 14/05/2020 17:34:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLOYEE](
	[UniqueId] [uniqueidentifier] NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Initials] [nvarchar](10) NULL,
	[EmployeeNumber] [nvarchar](50) NULL,
	[BirthDate] [datetime] NULL,
	[IdCard] [nvarchar](20) NULL,
	[Phone] [nvarchar](50) NULL,
	[Mobil] [nvarchar](50) NULL,
	[GenderUniqueId] [int] NOT NULL,
	[UserUniqueId] [uniqueidentifier] NOT NULL,
	[LanguageUniqueId] [uniqueidentifier] NOT NULL,
	[SiteStyleTypeUniqueId] [int] NOT NULL,
 CONSTRAINT [PK__CUSTOMER__A2A2A54AF97F42A1] PRIMARY KEY CLUSTERED 
(
	[UniqueId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GENDER]    Script Date: 14/05/2020 17:34:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GENDER](
	[UniqueId] [int] NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK__GENDER] PRIMARY KEY CLUSTERED 
(
	[UniqueId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LANGUAGE]    Script Date: 14/05/2020 17:34:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LANGUAGE](
	[UniqueId] [uniqueidentifier] NOT NULL,
	[Code] [nvarchar](6) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UniqueId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MUSIC_TYPE]    Script Date: 14/05/2020 17:34:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MUSIC_TYPE](
	[UniqueID] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_MUSIC_TYPE] PRIMARY KEY CLUSTERED 
(
	[UniqueID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RATING_TYPE]    Script Date: 14/05/2020 17:34:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RATING_TYPE](
	[UniqueID] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Value] [int] NOT NULL,
 CONSTRAINT [PK_RATING_TYPE] PRIMARY KEY CLUSTERED 
(
	[UniqueID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROLE]    Script Date: 14/05/2020 17:34:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLE](
	[UniqueId] [uniqueidentifier] NOT NULL,
	[Code] [nvarchar](20) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__ROLE__A2A2A54AEB045052] PRIMARY KEY CLUSTERED 
(
	[UniqueId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SITE_STYLE_TYPE]    Script Date: 14/05/2020 17:34:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SITE_STYLE_TYPE](
	[UniqueId] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_SITE_STYLE] PRIMARY KEY CLUSTERED 
(
	[UniqueId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SONG]    Script Date: 14/05/2020 17:34:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SONG](
	[UniqueID] [uniqueidentifier] NOT NULL,
	[AlbumID] [uniqueidentifier] NOT NULL,
	[SongPriceID] [uniqueidentifier] NOT NULL,
	[Number] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Time] [time](0) NOT NULL,
	[Popularity] [int] NULL,
 CONSTRAINT [PK_SONG] PRIMARY KEY CLUSTERED 
(
	[UniqueID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SONG_PRICE]    Script Date: 14/05/2020 17:34:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SONG_PRICE](
	[UniqueID] [uniqueidentifier] NOT NULL,
	[Price] [decimal](9, 2) NOT NULL,
 CONSTRAINT [PK_SONG_PRICE] PRIMARY KEY CLUSTERED 
(
	[UniqueID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYSTEM_TYPE]    Script Date: 14/05/2020 17:34:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYSTEM_TYPE](
	[UniqueId] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_SYSTEM_TYPE] PRIMARY KEY CLUSTERED 
(
	[UniqueId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER]    Script Date: 14/05/2020 17:34:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER](
	[UniqueId] [uniqueidentifier] NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Token] [nvarchar](500) NULL,
	[Active] [bit] NOT NULL,
	[Deleted] [bit] NOT NULL,
 CONSTRAINT [PK__USER__A2A2A54A966542D1] PRIMARY KEY CLUSTERED 
(
	[UniqueId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER_ROLE]    Script Date: 14/05/2020 17:34:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_ROLE](
	[UniqueId] [uniqueidentifier] NOT NULL,
	[UserUniqueId] [uniqueidentifier] NOT NULL,
	[RoleUniqueId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_USER_ROLE] PRIMARY KEY CLUSTERED 
(
	[UniqueId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VERSION_HISTORY]    Script Date: 14/05/2020 17:34:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VERSION_HISTORY](
	[UniqueId] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[Number] [nvarchar](100) NOT NULL,
	[Date] [datetime] NOT NULL,
	[Overview] [nvarchar](max) NULL,
	[NewFunction] [nvarchar](max) NULL,
	[EnhancedFunction] [nvarchar](max) NULL,
	[FixedBug] [nvarchar](max) NULL,
	[LanguageUniqueId] [uniqueidentifier] NOT NULL,
	[SystemTypeUniqueId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_VERSION_HISTORY] PRIMARY KEY CLUSTERED 
(
	[UniqueId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[ALBUM_PRICE] ([UniqueID], [Price]) VALUES (N'1a178d0e-6602-4375-a088-ab8d00facaa1', CAST(11.29 AS Decimal(9, 2)))
INSERT [dbo].[ALBUM_PRICE] ([UniqueID], [Price]) VALUES (N'1a178d0e-6602-4375-a088-ab8d00facaa2', CAST(12.29 AS Decimal(9, 2)))
INSERT [dbo].[ALBUM_PRICE] ([UniqueID], [Price]) VALUES (N'1a178d0e-6602-4375-a088-ab8d00facaa3', CAST(13.29 AS Decimal(9, 2)))
GO
INSERT [dbo].[ALBUM_RATING] ([UniqueID], [AlbumID], [RatingTypeID]) VALUES (N'0f078d0e-6602-4375-a088-ab8d00fabbb1', N'0f078d0e-6602-4375-a088-ab8d00facdd1', N'5befa4aa-06fd-4390-a2f5-a54600d4e3b4')
INSERT [dbo].[ALBUM_RATING] ([UniqueID], [AlbumID], [RatingTypeID]) VALUES (N'0f078d0e-6602-4375-a088-ab8d00fabbb2', N'0f078d0e-6602-4375-a088-ab8d00facdd1', N'5befa4aa-06fd-4390-a2f5-a54600d4e3b5')
GO
INSERT [dbo].[ARTIST] ([UniqueID], [Name]) VALUES (N'5befa4aa-06fd-4390-a2f5-a54600d4e3a1', N'Backstreet Boys')
INSERT [dbo].[ARTIST] ([UniqueID], [Name]) VALUES (N'5befa4aa-06fd-4390-a2f5-a54600d4e3a2', N'The Beatles')
INSERT [dbo].[ARTIST] ([UniqueID], [Name]) VALUES (N'5befa4aa-06fd-4390-a2f5-a54600d4e3a3', N'Elvis Presley')
GO
INSERT [dbo].[COMPANY] ([UniqueId], [Name], [Address1], [Address2], [PostalCode], [City], [CountryCode], [OrganizationNumber], [Phone], [Email], [Active]) VALUES (N'5befa4aa-06fd-4390-a2f5-a54600d4e3c2', N'Nordik-KT', N'Í Húsgarði 8', N'Ingen', N'826', N'Tróngisvágur', N'FO', N'0123456789', N'+298 535001', N'noreplay@northjournal.net', 1)
INSERT [dbo].[COMPANY] ([UniqueId], [Name], [Address1], [Address2], [PostalCode], [City], [CountryCode], [OrganizationNumber], [Phone], [Email], [Active]) VALUES (N'5befa4aa-06fd-4390-a2f5-a54600d4e3e1', N'Customer Company', N'Í Húsgarði 8', N'Ingen', N'826', N'Tróngisvágur', N'FO', N'0123456789', N'+298 535001', N'customer.mail@mail.com', 1)
GO
SET IDENTITY_INSERT [dbo].[CONTACTS] ON 

INSERT [dbo].[CONTACTS] ([ContactId], [FirstName], [LastName], [Email], [Phone]) VALUES (1, N'FirstName1.3', N'LastName1.2', N'email@email1.com', N'111-0000')
INSERT [dbo].[CONTACTS] ([ContactId], [FirstName], [LastName], [Email], [Phone]) VALUES (2, N'FirstName2', N'LastName2', N'email@email2.com', N'222-0000')
INSERT [dbo].[CONTACTS] ([ContactId], [FirstName], [LastName], [Email], [Phone]) VALUES (3, N'FirstName3', N'LastName3', N'email@email3.com', N'333-0000')
SET IDENTITY_INSERT [dbo].[CONTACTS] OFF
GO
INSERT [dbo].[EMPLOYEE] ([UniqueId], [FirstName], [LastName], [Initials], [EmployeeNumber], [BirthDate], [IdCard], [Phone], [Mobil], [GenderUniqueId], [UserUniqueId], [LanguageUniqueId], [SiteStyleTypeUniqueId]) VALUES (N'a8a88853-9e13-4d6a-8f10-a97300971967', N'14a2', N'14b', N'', N'', NULL, N'', N'', N'', 1, N'9cb95e6b-6257-4289-b629-a97300971965', N'd8d7d876-a863-43d4-9cda-a54600d410d1', 1)
GO
INSERT [dbo].[GENDER] ([UniqueId], [Name]) VALUES (2, N'Female')
INSERT [dbo].[GENDER] ([UniqueId], [Name]) VALUES (1, N'Male')
GO
INSERT [dbo].[LANGUAGE] ([UniqueId], [Code], [Name]) VALUES (N'f295e860-87d2-4e7f-8069-a54600d410bc', N'ES', N'Español')
INSERT [dbo].[LANGUAGE] ([UniqueId], [Code], [Name]) VALUES (N'd8d7d876-a863-43d4-9cda-a54600d410d1', N'EN', N'English')
INSERT [dbo].[LANGUAGE] ([UniqueId], [Code], [Name]) VALUES (N'd8d7d876-a863-43d4-9cda-a54600d410d2', N'DA', N'Dansk')
GO
INSERT [dbo].[MUSIC_TYPE] ([UniqueID], [Name]) VALUES (N'5befa4aa-06fd-4390-a2f5-a54600d4e3c1', N'Pop')
INSERT [dbo].[MUSIC_TYPE] ([UniqueID], [Name]) VALUES (N'5befa4aa-06fd-4390-a2f5-a54600d4e3c2', N'Rock and Roll')
GO
INSERT [dbo].[RATING_TYPE] ([UniqueID], [Name], [Value]) VALUES (N'5befa4aa-06fd-4390-a2f5-a54600d4e3b1', N'Star 1', 1)
INSERT [dbo].[RATING_TYPE] ([UniqueID], [Name], [Value]) VALUES (N'5befa4aa-06fd-4390-a2f5-a54600d4e3b2', N'Star 2', 2)
INSERT [dbo].[RATING_TYPE] ([UniqueID], [Name], [Value]) VALUES (N'5befa4aa-06fd-4390-a2f5-a54600d4e3b3', N'Star 3', 3)
GO
INSERT [dbo].[ROLE] ([UniqueId], [Code], [Name]) VALUES (N'76eb72bd-49be-41b7-8511-a54600d43b37', N'SYS_ADMIN', N'SYSTEM ADMINISTRATOR')
INSERT [dbo].[ROLE] ([UniqueId], [Code], [Name]) VALUES (N'1be8c502-cb36-4883-87da-a54600d43b39', N'IT_ADMIN', N'IT COMPANY ADMINISTRATOR')
INSERT [dbo].[ROLE] ([UniqueId], [Code], [Name]) VALUES (N'a4a0c512-e596-480b-ba21-a54600d43b39', N'DEPARTMENT_LEADER', N'DEPARTMENT LEADER')
GO
INSERT [dbo].[SITE_STYLE_TYPE] ([UniqueId], [Name]) VALUES (1, N'Standard')
INSERT [dbo].[SITE_STYLE_TYPE] ([UniqueId], [Name]) VALUES (2, N'Spring')
INSERT [dbo].[SITE_STYLE_TYPE] ([UniqueId], [Name]) VALUES (3, N'Summer')
GO
INSERT [dbo].[SONG] ([UniqueID], [AlbumID], [SongPriceID], [Number], [Name], [Time], [Popularity]) VALUES (N'0f078d0e-6602-4375-a088-ab8d00facad1', N'0f078d0e-6602-4375-a088-ab8d00facdd1', N'1b178d0e-6602-4375-a088-ab8d00facbb1', 1, N'Don''t Go Breaking My Heart', CAST(N'00:03:36' AS Time), 70)
INSERT [dbo].[SONG] ([UniqueID], [AlbumID], [SongPriceID], [Number], [Name], [Time], [Popularity]) VALUES (N'0f078d0e-6602-4375-a088-ab8d00facad2', N'0f078d0e-6602-4375-a088-ab8d00facdd1', N'1b178d0e-6602-4375-a088-ab8d00facbb1', 2, N'Nobody Else', CAST(N'00:03:38' AS Time), 20)
INSERT [dbo].[SONG] ([UniqueID], [AlbumID], [SongPriceID], [Number], [Name], [Time], [Popularity]) VALUES (N'0f078d0e-6602-4375-a088-ab8d00facad3', N'0f078d0e-6602-4375-a088-ab8d00facdd1', N'1b178d0e-6602-4375-a088-ab8d00facbb1', 3, N'Breathe', CAST(N'00:03:06' AS Time), 30)
GO
INSERT [dbo].[SONG_PRICE] ([UniqueID], [Price]) VALUES (N'1b178d0e-6602-4375-a088-ab8d00facbb1', CAST(1.29 AS Decimal(9, 2)))
INSERT [dbo].[SONG_PRICE] ([UniqueID], [Price]) VALUES (N'1b178d0e-6602-4375-a088-ab8d00facbb2', CAST(1.30 AS Decimal(9, 2)))
INSERT [dbo].[SONG_PRICE] ([UniqueID], [Price]) VALUES (N'1b178d0e-6602-4375-a088-ab8d00facbb3', CAST(1.31 AS Decimal(9, 2)))
GO
INSERT [dbo].[SYSTEM_TYPE] ([UniqueId], [Name]) VALUES (N'0f078d0e-6602-4375-a088-ab8d00fabcd1', N'NorthJournal System')
INSERT [dbo].[SYSTEM_TYPE] ([UniqueId], [Name]) VALUES (N'0f078d0e-6602-4375-a088-ab8d00fabcd2', N'Outlook Plugin')
INSERT [dbo].[SYSTEM_TYPE] ([UniqueId], [Name]) VALUES (N'0f078d0e-6602-4375-a088-ab8d00fabcd3', N'Excel Plugin')
GO
INSERT [dbo].[USER] ([UniqueId], [Username], [Password], [Token], [Active], [Deleted]) VALUES (N'9cb95e6b-6257-4289-b629-a97300971965', N'test', N'qL3gqx35EVTwclL+6Fo7Xw==', N'acf/Twq4NphhnEaAn3SH6Q==', 1, 0)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_GENDER_Name]    Script Date: 14/05/2020 17:34:33 ******/
ALTER TABLE [dbo].[GENDER] ADD  CONSTRAINT [UQ_GENDER_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_LANGUAGE_Code]    Script Date: 14/05/2020 17:34:33 ******/
ALTER TABLE [dbo].[LANGUAGE] ADD  CONSTRAINT [UQ_LANGUAGE_Code] UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_LANGUAGE_Name]    Script Date: 14/05/2020 17:34:33 ******/
ALTER TABLE [dbo].[LANGUAGE] ADD  CONSTRAINT [UQ_LANGUAGE_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_ROLE_Code]    Script Date: 14/05/2020 17:34:33 ******/
ALTER TABLE [dbo].[ROLE] ADD  CONSTRAINT [UQ_ROLE_Code] UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_ROLE_Name]    Script Date: 14/05/2020 17:34:33 ******/
ALTER TABLE [dbo].[ROLE] ADD  CONSTRAINT [UQ_ROLE_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_USER_Login]    Script Date: 14/05/2020 17:34:33 ******/
ALTER TABLE [dbo].[USER] ADD  CONSTRAINT [UQ_USER_Login] UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_USER_ROLE]    Script Date: 14/05/2020 17:34:33 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_USER_ROLE] ON [dbo].[USER_ROLE]
(
	[UserUniqueId] ASC,
	[RoleUniqueId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ARTIST] ADD  CONSTRAINT [DF_ARTIST_UniqueID]  DEFAULT (newid()) FOR [UniqueID]
GO
ALTER TABLE [dbo].[ALBUM]  WITH CHECK ADD  CONSTRAINT [FK_ALBUM_ALBUM_PRICE] FOREIGN KEY([AlbumPriceID])
REFERENCES [dbo].[ALBUM_PRICE] ([UniqueID])
GO
ALTER TABLE [dbo].[ALBUM] CHECK CONSTRAINT [FK_ALBUM_ALBUM_PRICE]
GO
ALTER TABLE [dbo].[ALBUM]  WITH CHECK ADD  CONSTRAINT [FK_ALBUM_ARTIST] FOREIGN KEY([ArtistID])
REFERENCES [dbo].[ARTIST] ([UniqueID])
GO
ALTER TABLE [dbo].[ALBUM] CHECK CONSTRAINT [FK_ALBUM_ARTIST]
GO
ALTER TABLE [dbo].[ALBUM]  WITH CHECK ADD  CONSTRAINT [FK_ALBUM_MUSIC_TYPE] FOREIGN KEY([MusicTypeID])
REFERENCES [dbo].[MUSIC_TYPE] ([UniqueID])
GO
ALTER TABLE [dbo].[ALBUM] CHECK CONSTRAINT [FK_ALBUM_MUSIC_TYPE]
GO
ALTER TABLE [dbo].[ALBUM_RATING]  WITH CHECK ADD  CONSTRAINT [FK_ALBUM_RATING_ALBUM] FOREIGN KEY([AlbumID])
REFERENCES [dbo].[ALBUM] ([UniqueID])
GO
ALTER TABLE [dbo].[ALBUM_RATING] CHECK CONSTRAINT [FK_ALBUM_RATING_ALBUM]
GO
ALTER TABLE [dbo].[ALBUM_RATING]  WITH CHECK ADD  CONSTRAINT [FK_ALBUM_RATING_RATING_TYPE] FOREIGN KEY([RatingTypeID])
REFERENCES [dbo].[RATING_TYPE] ([UniqueID])
GO
ALTER TABLE [dbo].[ALBUM_RATING] CHECK CONSTRAINT [FK_ALBUM_RATING_RATING_TYPE]
GO
ALTER TABLE [dbo].[DEPARTMENT]  WITH CHECK ADD  CONSTRAINT [FK_DEPARTMENT_COMPANY] FOREIGN KEY([CompanyUniqueId])
REFERENCES [dbo].[COMPANY] ([UniqueId])
GO
ALTER TABLE [dbo].[DEPARTMENT] CHECK CONSTRAINT [FK_DEPARTMENT_COMPANY]
GO
ALTER TABLE [dbo].[DEPARTMENT_EMPLOYEE]  WITH CHECK ADD  CONSTRAINT [FK_DEPARTMENT_EMPLOYEE_DEPARTMENT] FOREIGN KEY([DepartmentUniqueId])
REFERENCES [dbo].[DEPARTMENT] ([UniqueId])
GO
ALTER TABLE [dbo].[DEPARTMENT_EMPLOYEE] CHECK CONSTRAINT [FK_DEPARTMENT_EMPLOYEE_DEPARTMENT]
GO
ALTER TABLE [dbo].[DEPARTMENT_EMPLOYEE]  WITH CHECK ADD  CONSTRAINT [FK_DEPARTMENT_EMPLOYEE_EMPLOYEE] FOREIGN KEY([EmployeeUniqueId])
REFERENCES [dbo].[EMPLOYEE] ([UniqueId])
GO
ALTER TABLE [dbo].[DEPARTMENT_EMPLOYEE] CHECK CONSTRAINT [FK_DEPARTMENT_EMPLOYEE_EMPLOYEE]
GO
ALTER TABLE [dbo].[EMPLOYEE]  WITH CHECK ADD  CONSTRAINT [FK_EMPLOYEE_GENDER] FOREIGN KEY([GenderUniqueId])
REFERENCES [dbo].[GENDER] ([UniqueId])
GO
ALTER TABLE [dbo].[EMPLOYEE] CHECK CONSTRAINT [FK_EMPLOYEE_GENDER]
GO
ALTER TABLE [dbo].[EMPLOYEE]  WITH CHECK ADD  CONSTRAINT [FK_EMPLOYEE_LANGUAGE] FOREIGN KEY([LanguageUniqueId])
REFERENCES [dbo].[LANGUAGE] ([UniqueId])
GO
ALTER TABLE [dbo].[EMPLOYEE] CHECK CONSTRAINT [FK_EMPLOYEE_LANGUAGE]
GO
ALTER TABLE [dbo].[EMPLOYEE]  WITH CHECK ADD  CONSTRAINT [FK_EMPLOYEE_SITE_STYLE_TYPE] FOREIGN KEY([SiteStyleTypeUniqueId])
REFERENCES [dbo].[SITE_STYLE_TYPE] ([UniqueId])
GO
ALTER TABLE [dbo].[EMPLOYEE] CHECK CONSTRAINT [FK_EMPLOYEE_SITE_STYLE_TYPE]
GO
ALTER TABLE [dbo].[EMPLOYEE]  WITH CHECK ADD  CONSTRAINT [FK_EMPLOYEE_USER] FOREIGN KEY([UserUniqueId])
REFERENCES [dbo].[USER] ([UniqueId])
GO
ALTER TABLE [dbo].[EMPLOYEE] CHECK CONSTRAINT [FK_EMPLOYEE_USER]
GO
ALTER TABLE [dbo].[SONG]  WITH CHECK ADD  CONSTRAINT [FK_SONG_ALBUM] FOREIGN KEY([AlbumID])
REFERENCES [dbo].[ALBUM] ([UniqueID])
GO
ALTER TABLE [dbo].[SONG] CHECK CONSTRAINT [FK_SONG_ALBUM]
GO
ALTER TABLE [dbo].[SONG]  WITH CHECK ADD  CONSTRAINT [FK_SONG_SONG_PRICE] FOREIGN KEY([SongPriceID])
REFERENCES [dbo].[SONG_PRICE] ([UniqueID])
GO
ALTER TABLE [dbo].[SONG] CHECK CONSTRAINT [FK_SONG_SONG_PRICE]
GO
ALTER TABLE [dbo].[USER_ROLE]  WITH CHECK ADD  CONSTRAINT [FK_Role_User] FOREIGN KEY([RoleUniqueId])
REFERENCES [dbo].[ROLE] ([UniqueId])
GO
ALTER TABLE [dbo].[USER_ROLE] CHECK CONSTRAINT [FK_Role_User]
GO
ALTER TABLE [dbo].[USER_ROLE]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([UserUniqueId])
REFERENCES [dbo].[USER] ([UniqueId])
GO
ALTER TABLE [dbo].[USER_ROLE] CHECK CONSTRAINT [FK_User_Role]
GO
ALTER TABLE [dbo].[VERSION_HISTORY]  WITH CHECK ADD  CONSTRAINT [FK_VERSION_HISTORY_LANGUAGE] FOREIGN KEY([LanguageUniqueId])
REFERENCES [dbo].[LANGUAGE] ([UniqueId])
GO
ALTER TABLE [dbo].[VERSION_HISTORY] CHECK CONSTRAINT [FK_VERSION_HISTORY_LANGUAGE]
GO
ALTER TABLE [dbo].[VERSION_HISTORY]  WITH CHECK ADD  CONSTRAINT [FK_VERSION_HISTORY_SYSTEM_TYPE] FOREIGN KEY([SystemTypeUniqueId])
REFERENCES [dbo].[SYSTEM_TYPE] ([UniqueId])
GO
ALTER TABLE [dbo].[VERSION_HISTORY] CHECK CONSTRAINT [FK_VERSION_HISTORY_SYSTEM_TYPE]
GO
USE [master]
GO
